@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7ea;
}

main{
    position: absolute;
    left: 50%;
    top: 14%;
    height: 460px;
    width: 400px;
    transform: translate(-50%);
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 8px #00000038;
    border-radius: 8px;
}

h1{
    color: #242323;
    margin-bottom: 16px;
    text-align: center;
}

input{
    padding: 8px;
    width: 70%;
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-weight: 600;
}

button{
    font-weight: 600;
    border: none;
    background: gray;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: translateY(-2px);
}

ul{
    margin-top: 12px;
    list-style-position: inside;
}

ul li{
    margin-top: 8px;
}

@media (max-width: 450px) {
    main{
        width: 320px;
    }
}